@page
@model IndexModel


<section class="page-section" id="LandingPage">
    <div class="container">
        <div class="NameSign">
            <span style="font-size: 50px;">ALEX ADMÉR</span>
            <span style="font-size: 50px;">ALEX ADMÉR</span>
        </div>
        <h5 id="nametext">Min Portfölj</h5>
        <h2 id="TextUnderName">Jag är en framtida <span>.NET Developer</span> från Stockholm, Sverige</h2>

        <div id="Contentcontainer">
            <div class="containercard">
                <div class="card-info cardbg">
                    <a href="#about" class="glow-button" role="button">OM MIG</a>
                </div>

            </div>
            <div class="containercard">
                <div class="card-info">
                    <a href="#Projects" class="glow-button" role="button">PROJEKT</a>
                </div>
            </div>
            <div class="containercard">
                <div class="card-info">
                    <a href="#skills" class="glow-button" role="button">KUNSKAPER</a>
                </div>
            </div>
            <div class="containercard">
                <div class="card-info">
                    <a href="#References" class="glow-button" role="button">REFERENSER</a>
                </div>
            </div>
            <div class="containercard">
                <div class="card-info">
                    <a href="#Contact" class="glow-button" role="button">KONTAKTA MIG</a>
                </div>
            </div>
        </div>
    </div>

</section>

<section class="page-section" id="about">
    <div class="container">

        <div class="NameSign">
            <span id="title">Om Mig</span>
            <span id="title">Om Mig</span>
        </div>
        <div id="aboutme-content">

            @*1*@
            <div class="card-container">
                <div class="card">
                    <div class="front-content">
                        <p>Sociala Medier</p>
                    </div>
                    <div class="content">
                        <p class="heading">Sociala Medier</p>
                        <div class="socials-container">

                            <a href="https://www.instagram.com/alex.admer/" target="_blank" rel="noopener noreferrer">
                                <button class="btn">
                                    <i class="bi bi-instagram"></i>
                                </button>
                            </a>

                            <a href="https://www.linkedin.com/in/alex-admer-949b40266/" target="_blank" rel="noopener noreferrer">
                                <button class="btn">
                                    <i class="bi bi-linkedin"></i>
                                </button>
                            </a>

                            <a href="https://github.com/AlexAdmer03" target="_blank" rel="noopener noreferrer">
                                <button class="btn">
                                    <i class="bi bi-github"></i>
                                </button>
                            </a>

                        </div>
                    </div>
                </div>
            </div>

            @*2*@
            <div class="midcard">
                <div class="first-content"></div>
                <div class="second-content">
                    <p>
                        Välkommen till min hemsida! Jag är en hängiven .NET-utvecklarstudent vid KYH i Stockholm, med en djup passion för teknik, data och IT.
                        Jag ser alltid fram emot att lära mig nya koncept och tekniker inom programmering, eftersom jag ständigt strävar efter att utveckla mina färdigheter och bredda min kunskapsbas.
                        Vid sidan av min utbildning älskar jag att utmana mig själv fysiskt genom träning och sport, vilket ger mig balans och disciplin som hjälper mig att hålla mig fokuserad på mitt arbete.
                        Är du intresserad av att veta mer om mina projekt eller diskutera möjliga samarbeten? Bläddra igenom mina portfolier eller kontakta mig. Jag ser fram emot att ansluta och lära mig från er alla.
                    </p>
                </div>
            </div>

            @*3*@
            <div class="card-container">
                <div class="card">
                    <div class="front-content">
                        <p>Kontakt information</p>
                    </div>
                    <div class="content">
                        <p class="heading">Kontakt information</p>
                        <p>
                            Email: Alex.admer03@gmail.com
                        <p>Mobilnummer: +46 729656559</p>
                        <p> CV:</p>
                        <div class="socials-container">
                            <button class="btncv">
                                <i class="bi bi-file-earmark-person"></i>
                                <div class="popup-links">
                                    <a class="link-text" href="/assets/external-files/AlexAdmer-CV23.pdf" download="AlexAdmer-CV23.pdf">Ladda Ner CV</a>
                                    <a class="link-text" href="https://drive.google.com/file/d/10zTOCzSDjQ0Nse-_Q7xF0xd6mRkpQyMa/view" target="_blank" rel="noopener noreferrer">Förhandsvisa CV</a>
                                </div>
                            </button>
                        </div>

                    </div>
                </div>
            </div>

        </div>

    </div>
</section>

<section class="page-section" id="Projects">

    <div class="container">

        <div class="NameSign">
            <span id="title">Mina Projekt</span>
            <span id="title">Mina Projekt</span>
        </div>

        <div class="projectcontainer">

            @foreach (var Project in Model.MyProjects)
            {
                <div class="card" onClick="openDialog('@Project.ProjectId')">
                    <div class="card-img-container">
                        <img class="card-img" src="@Project.Image" />
                    </div>
                </div>

                <dialog id="dialog-@Project.ProjectId">
                    <div class="img-container">
                        <img src="@Project.Image" />
                    </div>
                    <p class="dialog-title"> @Project.ProjectName</p>

                    <div class="buttonrow">
                        <a href="@Project.PreviewURL" target="_blank">
                            <button class="learn-more">
                                <span class="circle" aria-hidden="true">
                                    <span class="icon arrow"></span>
                                </span>
                                <span class="button-text">Preview</span>
                            </button>
                        </a>

                        <a href="@Project.GithubURL" target="_blank">
                            <button class="learn-more">
                                <span class="circle" aria-hidden="true">
                                    <span class="icon arrow"></span>
                                </span>
                                <span class="button-text">GitHub</span>
                            </button>
                        </a>
                    </div>

                    <div class="info-container">

                        <details>
                            <summary>Start Datum</summary>
                            <p>@Project.CreatedDate.ToString("yyyy-MM-dd")</p>
                        </details>

                        <details>
                            <summary>Senast Uppdaterad</summary>
                            <p>@Project.LastUptade.ToString("yyyy-MM-dd")</p>
                        </details>

                        <details>
                            <summary>Beskrivning</summary>
                            <p>@Project.Description</p>
                        </details>

                        <details>
                            <summary>Skapare</summary>
                            <p>@Project.Author</p>
                        </details>

                        <details>
                            <summary>Kategori</summary>
                            <p>@Project.Category</p>
                        </details>
                        <details>
                            <summary>Program Språk</summary>
                            @foreach (var languange in Project.SystemStructure.ProgrammingLanguages)
                            {
                                <p>@languange</p>
                            }
                        </details>

                    </div>

                    <button class="close" onClick="closeDialog('@Project.ProjectId')">Close</button>
                </dialog>

            }

        </div>

    </div>
</section>

<section class="page-section" id="skills">
    <div class="NameSign">
        <span id="title">Kunskaper</span>
        <span id="title">Kunskaper</span>
    </div>

    <div class="skillscontainer">

        <div class="skillcard-container">
            <div class="skillcard">
                <div class="skillfront-content">
                    <div class="csharp">
                        <i class="devicon-csharp-plain"></i>
                    </div>
                </div>
                <div class="skillcontent">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipii
                        voluptas ten mollitia pariatur odit, ab
                        minus ratione adipisci accusamus vel est excepturi laboriosam magnam
                        necessitatibus dignissimos molestias.
                    </p>
                </div>
            </div>
        </div>

        <div class="skillcard-container">
            <div class="skillcard">
                <div class="skillfront-content">
                    <p>
                        <i class="fab fa-html5"></i>
                    </p>
                    <p>/</p>
                    <p>
                        <i class="fab fa-css3"></i>
                    </p>
                </div>
                <div class="skillcontent">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipii
                        voluptas ten mollitia pariatur odit, ab
                        minus ratione adipisci accusamus vel est excepturi laboriosam magnam
                        necessitatibus dignissimos molestias.
                    </p>
                </div>
            </div>
        </div>

        <div class="skillcard-container">
            <div class="skillcard">
                <div class="skillfront-content">
                    <div class="sql">
                        <i class="devicon-microsoftsqlserver-plain-wordmark"></i>
                    </div>
                </div>
                <div class="skillcontent">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipii
                        voluptas ten mollitia pariatur odit, ab
                        minus ratione adipisci accusamus vel est excepturi laboriosam magnam
                        necessitatibus dignissimos molestias.
                    </p>
                </div>
            </div>
        </div>

        <div class="skillcard-container">
            <div class="skillcard">
                <div class="skillfront-content">
                    <div class="js">
                        <i class="fab fa-js"></i>
                    </div>
                </div>
                <div class="skillcontent">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipii
                        voluptas ten mollitia pariatur odit, ab
                        minus ratione adipisci accusamus vel est excepturi laboriosam magnam
                        necessitatibus dignissimos molestias.
                    </p>
                </div>
            </div>
        </div>


    </div>

</section>

<section class="page-section" id="References">
    <div class="NameSign">
        <span id="title">Referenser</span>
        <span id="title">Referenser</span>
    </div>

    <div class="reference-text"> Finns På Begäran </div>

    <div class="example-container">

        <div class="card">
            <div class="img1"></div>
            <span>Snoop Dogg</span>
            <p class="info">-EXAMPLE--EXAMPLE--EXAMPLE--EXAMPLE--EXAMPLE--EXAMPLE--EXAMPLE--EXAMPLE--EXAMPLE--EXAMPLE--EXAMPLE--EXAMPLE-</p>

        </div>

        <div class="card">
            <div class="img2"></div>
            <span>Kevin Hart</span>
            <p class="info">-EXAMPLE--EXAMPLE--EXAMPLE--EXAMPLE--EXAMPLE--EXAMPLE--EXAMPLE--EXAMPLE--EXAMPLE--EXAMPLE--EXAMPLE--EXAMPLE-</p>

        </div>

    </div>

</section>


<section class="page-section" id="Contact">
    <div class="NameSign">
        <span id="title">Kontakta Mig</span>
        <span id="title">Kontakta Mig</span>
    </div>
    <div class="contact-container">
        <div id="contact-form">
            <form action="https://formsubmit.co/alex.admer03@gmail.com" method="POST" class="contact-form">
                <div class="row">
                    <div class="col">
                        <input type="text" name="First name" class="form-control" placeholder="För- Namn" id="firstname">
                    </div>
                    <div class="col">
                        <input type="text" name="Second name" class="form-control" placeholder="Efter- Namn" id="lastname">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <input type="email" name="Email" class="form-control" placeholder="Email" id="email">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <textarea class="form-control" name="Message" placeholder="Kommentar" id="comment"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col d-flex justify-content-end">
                        <button type="submit" class="btn btn-primary">Skicka</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <h4 class="socials-title">Sociala Medier</h4>
    <div class="socials-container">

        <a href="https://www.instagram.com/alex.admer/" target="_blank" rel="noopener noreferrer">
            <button class="btn">
                <i class="bi bi-instagram"></i>
            </button>
        </a>

        <a href="https://www.linkedin.com/in/alex-admer-949b40266/" target="_blank" rel="noopener noreferrer">
            <button class="btn">
                <i class="bi bi-linkedin"></i>
            </button>
        </a>

        <a href="https://github.com/AlexAdmer03" target="_blank" rel="noopener noreferrer">
            <button class="btn">
                <i class="bi bi-github"></i>
            </button>
        </a>


        <button class="btncv">
            <i class="bi bi-file-earmark-person"></i>
            <div class="popup-links">
                <a class="link-text" href="/assets/external-files/AlexAdmer-CV23.pdf" download="AlexAdmer-CV23.pdf">Ladda Ner CV</a>
                <a class="link-text" href="https://drive.google.com/file/d/10zTOCzSDjQ0Nse-_Q7xF0xd6mRkpQyMa/view" target="_blank" rel="noopener noreferrer">Förhandsvisa CV</a>
            </div>
        </button>

    </div>
</section>







